.slider .thumb {
    -fx-background-image: url("../Images/skull.png");
    -fx-background-color: transparent;
    -fx-background-position: left top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:75%, auto;
    -fx-padding: 32;
}